.navBar {
  position: fixed;
  backdrop-filter: blur(8px);
  bottom: 0;
  width: 100%;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.navItem {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.active {
  scale: 1.1;
}
