:root {
  --background: #edeef3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(23, 24, 28);
    --foreground: #ededed;
  }
}
.wrap {
  padding-top: 1rem;
  margin-bottom: 60px;
  min-height: calc(100dvh - 60px)
}
html,
body {
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
